@media (max-width : 700px) {
    .sectorPerofrmance{
        width: 400px;
        margin-left: 0px;
       
     
    }
    
 }
 
 @media (max-width : 1100px) {
    .sectorPerofrmance{
        width: 500px;    
    }
     .realtimeChart{
        width: 400px;
        margin-left: -30px;
        height: 350px;
     }
  }
 
  @media (max-width : 1450px) {
    .sentimentindicator{
        width: 300px;
    }
   
  }

  @media (max-width : 450px) {
     .sectorPerofrmance{
        width: 310px ;
        margin-left: -30px;
        /* padding: 0px; */
       
     }
     .market{
        width: 300px;
        margin-left: -20px;
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 40px;
     }
     .realtimeChart{
        width: 300px;
        margin-left: -30px;
        height: 250px;
     }
  }
  @media (min-width: 1901px) {
    .body{
            padding: 0px 40px 0px 80px; /* Top, Right, Bottom, Left */
            margin: 0 40px 0 40px;
    }
}
